@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
}

.header-lista {
  list-style: none;
  padding-left: 30px;
  padding-top: 15px;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
  padding-left: 30px;
  padding-top: 15px;
}

/* main */

.bienvenida {
  margin-top: 35px;
  padding: 20px;
  text-align: center;
}

.main-comederos {
  background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  height: 409px;
  background-size: cover;
}

.texto-descuento {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.texto-comederos {
  display: inline;
  margin-top: 600px;
  margin-left: 618px;
  background-color: #f0a83e;
}

.seccion-productos {
  padding: 50px;
}

.productos-fotos {
  background-color: #fbfaf6;
}

.productos-precios {
  color: #f0a83e;
  margin-top: 10px;
}

/* footer */

.footer-top {
  background-color: #3c2313;
}

.footer-top-titulos {
  color: white;
  margin-top: 20px;
}

.footer-top-info {
  color: #8a8787;
  margin-top: 20px;
}

.footer-bottom {
  text-align: center;
  color: white;
  background-color: #f0a83e;
}

.footer-top-logo {
  font-weight: bold;
  color: #f0a83e;
}

.footer-top-logo span {
  color: white;
}
