@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
}

/* main */

.bienvenida {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
